<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="container-fluid">
      <div class="col-6">
        <img class="rounded" src="https://i.ytimg.com/vi/MMhwDFo8PdM/mqdefault.jpg" width="150px" alt="" (click) = "image()" >
      </div>
      <div class="col-6">
        <nav class="navbar navbar-light bg-light rounded">
          <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-danger me-2" (click)="informacion()" type="button">Home</button>
            <button class="btn btn-sm btn-outline-secondary" (click)="salir()" type="button">Dasboard</button>
            <p style="color: white;">1</p>
            <button class="btn btn-sm btn-outline-secondary" (click)="programador()" type="button">El programador</button>
          </form>
        </nav>
      </div>
  </div>
</nav>
<br>
<br>
